html {
  @apply h-full w-full;
  -webkit-tap-highlight-color: transparent;
}

body {
  @apply bg-color-100 select-none font-jet-brain-mono font-base text-color-900 dark:text-color-100 dark:bg-color-800 dark:font-dark;
  min-height: 100vh;

  scrollbar-width: none;
  scrollbar-height: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.pb-safe {
  padding-bottom: env(safe-area-inset-bottom);
}

.text-capsize {
  line-height: 1.5425rem;
  padding: 0.003125rem 0;

  &::before {
    content: '';
    margin-top: -0.4044em;
    display: block;
    height: 0;
  }

  &::after {
    content: '';
    margin-bottom: -0.4144em;
    display: block;
    height: 0;
  }
}

.scrollzone {
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.scroll-snap-none {
  scroll-snap-type: none;
}
.scroll-snap-x {
  scroll-snap-type: x;
}
.scroll-snap-y {
  scroll-snap-type: y;
}

.snap-start {
  scroll-snap-align: start;
}
.snap-end {
  scroll-snap-align: end;
}
.snap-center {
  scroll-snap-align: center;
}
