.card {
  @screen sm {
    &,
    &.reversed {
      grid-template-rows: minmax(30rem, max-content) minmax(0, max-content);
      grid-template-areas:
        'image'
        'name';
    }
  }

  @screen md {
    grid-template-columns: 1fr minmax(30rem, max-content);
    grid-template-areas: 'name ... image';

    &.reversed {
      grid-template-columns: minmax(30rem, max-content) 1fr;
      grid-template-areas: 'image name';
    }

    &.reversed > .image {
      @apply place-items-start;
    }
  }

  & > .image {
    grid-area: image;
  }
  & > .name {
    grid-area: name;
  }
}
