.container {
  grid-template-columns: none;
  grid-template-rows: 1fr min-content;
  grid-template-areas:
    'image'
    'details';

  @media (orientation: landscape) {
    max-height: calc(100vh - 6rem);
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 'image details';
  }

  & > .image {
    grid-area: image;
  }
  & > .details {
    grid-area: details;
  }
}

.details {
  & ul {
    @apply space-y-3;
  }
}

.details,
.image {
  max-height: calc(100vh - 6rem);
}
