.main-container {
  @apply grid content-between h-full min-h-screen max-h-screen w-screen;
  height: -webkit-fill-available;
  grid-template-rows: 3.125rem 1fr 3.125rem;
  grid-template-columns: 3.125rem 1fr 3.125rem;
  grid-template-areas:
    '... ... ...'
    '... main ...'
    '... ... ...';
}

.main-container > .main {
  grid-area: main;
}
.main {
  @apply relative bg-gray-200 overflow-y-auto border-gray-400 border border-solid;
  scrollbar-width: none;
}

.main::-webkit-scrollbar {
  display: none;
}

@media (max-width: 767px) {
  .main-container {
    grid-template-rows: 2.5rem 1fr 2.5rem 2.5rem;
    grid-template-columns: 2.5rem 1fr 2.5rem;
    grid-template-areas:
      '... ... ...'
      'main main main'
      '... ... ...'
      '... ... ...';
  }
}
