.main-container {
  height: -webkit-fill-available;

  @screen sm {
    grid-template-rows: 2.5rem 1fr 5rem;
    grid-template-columns: 2.5rem 1fr 2.5rem;
    grid-template-areas:
      'hide hide hide'
      'main main main'
      '... ... ...';
  }

  @screen md {
    grid-template-rows: 3rem 1fr 3rem;
    grid-template-columns: 3rem 1fr 3rem;
    grid-template-areas:
      '... hide ...'
      '... main ...'
      '... ... ...';
  }

  & > .hide {
    grid-area: hide;
  }
  & > .main {
    grid-area: main;
  }
}

.main {
  -webkit-overflow-scrolling: touch;

  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
